<h2>Article</h2>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>
<hr>

<h2>Comments</h2>


<% if @article.comments.count > 0 %>
  <%= render @article.comments %>
<% else %>
    <p>No have comments...</p>
<% end %>

<h2>Add a comment:</h2>

<%= render 'comments/form' %>

<%= link_to 'Edit', edit_article_path(@article) %> 
 
<%= link_to 'Back', articles_path %>